<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <p>Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average_rating %></p>
  
  <% @user.ratings.each do |rating| %>
    <li><%= "#{rating.to_s}" %>
      <% if @user == current_user %>
        <%= link_to "Delete", rating, data: {turbo_method: :delete} %>
      <% end %>
    </li>
  <% end %>

  <% if @editable %>
    <%= link_to "Edit this user", edit_user_path(@user) %> |
    <%= link_to "Back to users", users_path %>
  <% end %>

  <% if @editable %>
    <%= button_to "Destroy this user", @user, method: :delete %>
  <% end %>
</div>
