<table class="table table-striped">
  <tbody>
    <tr><td colspan="2"><h2>Top 3 Beers</h2></td></tr>
    <% @top_beers.each do |beer| %>
      <tr>
        <td><%= beer.name %></td>
        <td><%= beer.average_rating %></td>
      </tr>
    <% end %>

    <tr><td colspan="2"><h2>Top 3 Breweries</h2></td></tr>
    <% @top_breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.name %></td>
        <td><%= brewery.average_rating %></td>
      </tr>
    <% end %>

    <tr><td colspan="2"><h2>Recent Ratings</h2></td></tr>
    <% @recent_ratings.each do |rating| %>
      <tr>
         <td><%= rating.beer.name %></td>
        <td><%= rating.score %> by <%= rating.user.username %></td>
      </tr>
    <% end %>

    <tr><td colspan="2"><h2>Top 3 Users by Ratings</h2></td></tr>
    <% @top_raters.each do |rater| %>
      <tr>
        <td> <%= rater.username %>, <%= rater.ratings_count %> ratings</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New rating", new_rating_path, class: "btn btn-primary" %>