<p style="color: green"><%= notice %></p>

<%= render @brewery %>

<% if @brewery.ratings.present? %>
  <p>
    Brewery
    <% if @brewery.ratings.size == 1 %>
      has
    <% else %>
      have
    <% end %>
    <%= pluralize(@brewery.ratings.size, 'rating') %>
    with an average of <%= round(@brewery.average_rating.to_f) %>.
  </p>
<% else %>
  <p>Brewery has no ratings.</p>
<% end %>

<div>
  <% if current_user %>
  <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), data: {turbo_method: "post"}, class: "btn btn-primary" %>
    <%= link_to "Back to breweries", breweries_path %> | <%= link_to 'list of beers', beers_path %>

    <%= edit_and_destroy_buttons(@brewery) %>
  <% end %>
</div>
