<p style="color: green"><%= notice %></p>

<%= render @beer %>

<% if @beer.ratings.present? %>
  <p>
    <%= 
  </p>"Beer #{'has' if @beer.ratings.size == 1 || @beer.ratings.empty? || !@beer.ratings} #{'have' if @beer.ratings.size > 1} #{pluralize(@beer.ratings.size, 'rating')}" %> with an average of <%= @beer.average_rating.to_f.round(2) %>


<% else %>
  <p>This beer has no ratings yet.</p>
<% end %>


<div>
  <% if current_user %>
    <%= link_to "Edit this beer", edit_beer_path(@beer) %> |
    <%= link_to "Back to beers", beers_path %>
    <%= button_to "Destroy this beer", @beer, method: :delete %>
  <% end %>
</div>
