<h1>Beer places search</h1>


<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>

<div>
    <h3>The current beer weather in</h3>
    <h4><%= @weather['temperature'] %> Celsius</h4>
    <%@weather['weather_icons'].each do |url|%>
        <%= image_tag image_url(url) %>
    <% end %>
    <h4>Wind <%= @weather['wind_speed'] %> m/s, direction <%= @weather['wind_dir'] %></h4>
</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">status</th>
        <th scope="col">street</th>
        <th scope="col">city</th>
        <th scope="col">zip</th>
        <th scope="col">country</th>
        <th scope="col">overall</th>
      </tr>
    </thead>
    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td scope="col"><%= place.id %></td>
          <td><%= link_to place.name, place_path(place.id) %></td>
          <td><%= place.status %></td>
          <td><%= place.street %></td>
          <td><%= place.city %></td>
          <td><%= place.zip %></td>
          <td><%= place.country %></td>
          <td><%= place.overall %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>